In [1]:
import pandas as pd
import numpy as np
from numpy import nan

In [2]:
input_file = 'most-recent-cohorts-all-data-elements-1.csv'
path = './data/'
column_template_2 = 'column_heading_template for debt.csv'
path2 = './data_documentation/'
input_file_for_debt = 'debt_df.csv'

In [3]:
df = pd.read_csv(path+input_file, low_memory=False)

In [4]:
#this converts the columns of the dataframe to the most reasonable data type
df = df.convert_dtypes()

In [5]:
#This reads in a list of the columns that Matt and I selected
column_heading_df = pd.read_csv(path2 + column_template_2)

In [6]:
#this is the list of columns that I need to keep for the analysis
filtered_variable_name_list = column_heading_df['VARIABLE NAME'].unique().tolist()
filtered_variable_name_list

['CIP01BACHL',
 'CIP04BACHL',
 'CIP05BACHL',
 'CIP26BACHL',
 'CIP52BACHL',
 'CIP09BACHL',
 'CIP10BACHL',
 'CIP11BACHL',
 'CIP46BACHL',
 'CIP13BACHL',
 'CIP15BACHL',
 'CIP14BACHL',
 'CIP23BACHL',
 'CIP19BACHL',
 'CIP16BACHL',
 'CIP51BACHL',
 'CIP54BACHL',
 'CIP43BACHL',
 'CIP22BACHL',
 'CIP24BACHL',
 'CIP25BACHL',
 'CIP27BACHL',
 'CIP47BACHL',
 'CIP29BACHL',
 'CIP30BACHL',
 'CIP03BACHL',
 'CIP31BACHL',
 'CIP12BACHL',
 'CIP38BACHL',
 'CIP40BACHL',
 'CIP48BACHL',
 'CIP42BACHL',
 'CIP44BACHL',
 'CIP41BACHL',
 'CIP45BACHL',
 'CIP39BACHL',
 'CIP49BACHL',
 'CIP50BACHL',
 'PCIP01',
 'PCIP04',
 'PCIP05',
 'PCIP26',
 'PCIP52',
 'PCIP09',
 'PCIP10',
 'PCIP11',
 'PCIP46',
 'PCIP13',
 'PCIP15',
 'PCIP14',
 'PCIP23',
 'PCIP19',
 'PCIP16',
 'PCIP51',
 'PCIP54',
 'PCIP43',
 'PCIP22',
 'PCIP24',
 'PCIP25',
 'PCIP27',
 'PCIP47',
 'PCIP29',
 'PCIP30',
 'PCIP03',
 'PCIP31',
 'PCIP12',
 'PCIP38',
 'PCIP40',
 'PCIP48',
 'PCIP42',
 'PCIP44',
 'PCIP41',
 'PCIP45',
 'PCIP39',
 'PCIP49',
 'PCIP50',
 'SATVR25',
 'SATMT25',
 'SATWR25',
 'ACTCM25',
 'ACTEN25',
 'ACTMT25',
 'ACTWR25',
 'SATVR75',
 'SATMT75',
 'SATWR75',
 'ACTCM75',
 'ACTEN75',
 'ACTMT75',
 'ACTWR75',
 'ADM_RATE',
 'ADM_RATE_ALL',
 'SAT_AVG',
 'SAT_AVG_ALL',
 'SATVRMID',
 'SATMTMID',
 'SATWRMID',
 'ACTCMMID',
 'ACTENMID',
 'ACTMTMID',
 'ACTWRMID',
 'DEBT_MDN',
 'C150_4',
 'C150_4_POOLED',
 'HI_INC_YR6_N',
 'HI_INC_YR8_N',
 'LO_INC_YR6_N',
 'LO_INC_YR8_N',
 'MD_INC_YR6_N',
 'MD_INC_YR8_N',
 'OVERALL_YR6_N',
 'OVERALL_YR8_N',
 'COMP_ORIG_YR4_RT',
 'COMP_ORIG_YR6_RT',
 'COMP_ORIG_YR8_RT',
 'DEP_COMP_ORIG_YR6_RT',
 'DEP_COMP_ORIG_YR8_RT',
 'DEP_WDRAW_ORIG_YR6_RT',
 'DEP_WDRAW_ORIG_YR8_RT',
 'FEMALE_COMP_ORIG_YR6_RT',
 'FEMALE_COMP_ORIG_YR8_RT',
 'FEMALE_WDRAW_ORIG_YR6_RT',
 'FEMALE_WDRAW_ORIG_YR8_RT',
 'FIRSTGEN_COMP_ORIG_YR6_RT',
 'HI_INC_COMP_ORIG_YR4_RT',
 'HI_INC_COMP_ORIG_YR6_RT',
 'HI_INC_COMP_ORIG_YR8_RT',
 'HI_INC_ENRL_ORIG_YR4_RT',
 'HI_INC_WDRAW_ORIG_YR6_RT',
 'HI_INC_WDRAW_ORIG_YR8_RT',
 'IND_COMP_ORIG_YR6_RT',
 'IND_COMP_ORIG_YR8_RT',
 'IND_WDRAW_ORIG_YR6_RT',
 'IND_WDRAW_ORIG_YR8_RT',
 'LO_INC_COMP_ORIG_YR4_RT',
 'LO_INC_COMP_ORIG_YR6_RT',
 'LO_INC_COMP_ORIG_YR8_RT',
 'LO_INC_ENRL_ORIG_YR4_RT',
 'LO_INC_WDRAW_ORIG_YR6_RT',
 'LO_INC_WDRAW_ORIG_YR8_RT',
 'MALE_COMP_ORIG_YR6_RT',
 'MALE_COMP_ORIG_YR8_RT',
 'MALE_WDRAW_ORIG_YR6_RT',
 'MALE_WDRAW_ORIG_YR8_RT',
 'MD_INC_COMP_ORIG_YR4_RT',
 'MD_INC_COMP_ORIG_YR6_RT',
 'MD_INC_COMP_ORIG_YR8_RT',
 'MD_INC_ENRL_ORIG_YR4_RT',
 'MD_INC_WDRAW_ORIG_YR6_RT',
 'MD_INC_WDRAW_ORIG_YR8_RT',
 'ENRL_ORIG_YR4_RT',
 'ENRL_ORIG_YR6_RT',
 'COMP_2YR_TRANS_YR4_RT',
 'ENRL_2YR_TRANS_YR4_RT',
 'UNKN_2YR_TRANS_YR4_RT',
 'WDRAW_2YR_TRANS_YR4_RT',
 'COMP_4YR_TRANS_YR4_RT',
 'ENRL_4YR_TRANS_YR4_RT',
 'UNKN_4YR_TRANS_YR4_RT',
 'WDRAW_4YR_TRANS_YR4_RT',
 'WDRAW_ORIG_YR2_RT',
 'WDRAW_ORIG_YR4_RT',
 'WDRAW_ORIG_YR8_RT',
 'COSTT4_A',
 'COSTT4_P',
 'NPT41_OTHER',
 'NPT41_PRIV',
 'NPT41_PROG',
 'NPT41_PUB',
 'NPT4_048_OTHER',
 'NPT4_048_PRIV',
 'NPT4_048_PROG',
 'NPT4_048_PUB',
 'NPT45_OTHER',
 'NPT45_PRIV',
 'NPT45_PROG',
 'NPT45_PUB',
 'NPT42_OTHER',
 'NPT42_PRIV',
 'NPT42_PROG',
 'NPT42_PUB',
 'NPT4_3075_OTHER',
 'NPT4_3075_PRIV',
 'NPT4_3075_PROG',
 'NPT4_3075_PUB',
 'NPT43_OTHER',
 'NPT43_PRIV',
 'NPT43_PROG',
 'NPT43_PUB',
 'NPT4_75UP_OTHER',
 'NPT4_75UP_PRIV',
 'NPT4_75UP_PROG',
 'NPT4_75UP_PUB',
 'NPT44_OTHER',
 'NPT44_PRIV',
 'NPT44_PROG',
 'NPT44_PUB',
 'NPT4_PROG',
 'NPT4_OTHER',
 'NPT4_PRIV',
 'NPT4_PUB',
 'TUITIONFEE_IN',
 'NUM4_OTHER',
 'NUM4_PRIV',
 'NUM4_PROG',
 'NUM4_PUB',
 'NUM41_OTHER',
 'NUM41_PRIV',
 'NUM41_PROG',
 'NUM41_PUB',
 'NUM45_OTHER',
 'NUM45_PRIV',
 'NUM45_PROG',
 'NUM45_PUB',
 'NUM42_OTHER',
 'NUM42_PRIV',
 'NUM42_PROG',
 'NUM42_PUB',
 'NUM43_OTHER',
 'NUM43_PRIV',
 'NUM43_PROG',
 'NUM43_PUB',
 'NUM44_OTHER',
 'NUM44_PRIV',
 'NUM44_PROG',
 'NUM44_PUB',
 'TUITIONFEE_OUT',
 'TUITIONFEE_PROG',
 'MN_EARN_WNE_P10',
 'MD_EARN_WNE_P10',
 'COUNT_NWNE_P10',
 'COUNT_WNE_P10',
 'CDR3_DENOM',
 'CDR2_DENOM',
 'AVGFACSAL',
 'LOCALE2',
 'MENONLY',
 'WOMENONLY',
 'INEXPFTE',
 'LOCALE',
 'TUITFTE',
 'PFTFAC',
 'REGION',
 'AGE_ENTRY',
 'FAMINC',
 'UG',
 'UGDS',
 'MD_FAMINC',
 'MEDIAN_HH_INC',
 'AGEGE24',
 'DEPENDENT',
 'FEMALE',
 'MARRIED',
 'PPTUG_EF',
 'PPTUG_EF2',
 'UGDS_AIAN',
 'UGDS_AIANOLD',
 'UGDS_ASIAN',
 'UGDS_API',
 'UGDS_BLACK',
 'UGDS_BLACKNH',
 'UGDS_HISP',
 'UGDS_HISPOLD',
 'UGDS_MEN',
 'UGDS_NHPI',
 'UGDS_NRA',
 'UGDS_2MOR',
 'UGDS_WHITE',
 'UGDS_WHITENH',
 'UGDS_WOMEN',
 'UGDS_UNKN',
 'UG_AIANOLD',
 'UG_API',
 'UG_BLACKNH',
 'UG_HISPOLD',
 'UG_NRA',
 'UG_WHITENH',
 'UG_UNKN']

In [7]:
#duplicate main dataframe
filtered_4_df = df.copy()

In [8]:
#PREDEG == 3 is the university is predominately a 4 year school.
filtered_4_year_df = filtered_4_df.loc[df['PREDDEG'] == 3, :]
filtered_4_year_df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.3193,0.7057,0.7143,5343,1165,1288,2,0.7083,0.7287,2698
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu,https://uab.studentaidcalculator.com/survey.aspx,...,0.2475,0.3788,0.5350,14445,10498,2228,2,0.3891,0.5414,4176
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.2836,1.0000,1.0000,440,527,5,4,PrivacySuppressed,PrivacySuppressed,24
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.2496,0.2707,0.4556,8145,2443,1341,2,0.2378,0.4402,2544
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.2621,0.7792,0.7539,4732,642,951,2,0.7684,0.7464,2094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,492069,4276100,42761,Champion Christian College,Hot Springs,AR,71913,Transnational Association of Christian College...,championchristiancollege.com,championchristiancollege.com/NetPriceCalculato...,...,PrivacySuppressed,0.0000,0.0000,57,<NA>,20,4,PrivacySuppressed,PrivacySuppressed,20
6314,492689,1067401,10674,Texas Tech University Health Sciences Center-E...,El Paso,TX,79905-2827,Southern Association of Colleges and Schools C...,elpaso.ttuhsc.edu/,www.depts.ttu.edu/financialaid/netCostCalcHome...,...,<NA>,NaN,NaN,370,471,0,4,<NA>,<NA>,0
6318,492759,638521,6385,Chamberlain University-Louisiana,Jefferson,LA,70121,Higher Learning Commission,https://www.chamberlain.edu/,https://www.chamberlain.edu/admissions/financi...,...,<NA>,NaN,NaN,21,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6319,492801,246100,2461,Drury University-College of Continuing Profess...,Springfield,MO,65802,Higher Learning Commission,www.drury.edu/ccps/,tcc.ruffalonl.com/Drury%20University/Freshman-...,...,0.3681,0.7619,0.4048,2857,<NA>,42,2,0.7619,0.4048,42
6322,492962,180500,1805,Indiana Institute of Technology-College of Pro...,Fort Wayne,IN,46803,Higher Learning Commission,cps.indianatech.edu/,cps.indianatech.edu/costs/,...,0.6939,0.8710,0.8996,6739,<NA>,279,2,0.871,0.8996,279

In [9]:
filtered_4_year_df.replace(to_replace = 'PrivacySuppressed', value = nan, inplace = True)

C:\Users\thead\anaconda3\lib\site-packages\pandas\core\frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [10]:
#this resets the dataframe to keep only the columns we really want from the list matt and I collected
filtered_4_year_df = filtered_4_year_df[filtered_variable_name_list]
filtered_4_year_df

,CIP01BACHL,CIP04BACHL,CIP05BACHL,CIP26BACHL,CIP52BACHL,CIP09BACHL,CIP10BACHL,CIP11BACHL,CIP46BACHL,CIP13BACHL,...,UGDS_WHITENH,UGDS_WOMEN,UGDS_UNKN,UG_AIANOLD,UG_API,UG_BLACKNH,UG_HISPOLD,UG_NRA,UG_WHITENH,UG_UNKN
0,1,1,0,1,2,0,1,1,0,1,...,<NA>,0.5924,0.0361,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,0,0,1,1,2,1,0,1,0,1,...,<NA>,0.6070,0.0058,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,0,0,0,0,2,0,0,0,0,0,...,<NA>,0.6809,0.0171,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,0,0,0,1,1,1,0,1,0,1,...,<NA>,0.4204,0.0333,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,0,0,0,1,1,1,0,1,0,1,...,<NA>,0.6290,0.0123,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,0,0,0,0,0,0,0,0,0,0,...,<NA>,0.3103,0.0000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6314,0,0,0,0,0,0,0,0,0,0,...,<NA>,0.7854,0.0121,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6318,0,0,0,0,0,0,0,0,0,0,...,<NA>,0.8933,0.0000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6319,0,0,0,1,2,1,0,0,0,1,...,<NA>,0.6688,0.0014,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6322,0,0,0,0,2,0,0,2,0,0,...,<NA>,0.6777,0.1299,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [11]:
#the names of all columns
column_names = filtered_4_year_df.columns

In [12]:
#the datatype of all columns
column_types = filtered_4_year_df.dtypes

In [13]:
#we need all numbers so we need to address teh columns that are strings
filtered_4_year_df.dtypes.unique()

array([Int64Dtype(), dtype('float64'), StringDtype], dtype=object)

In [14]:
#this is the datatypes that are string that are True.  This is data that should be numbers but are not.
filtered_4_year_df.dtypes == 'string'

CIP01BACHL    False
CIP04BACHL    False
CIP05BACHL    False
CIP26BACHL    False
CIP52BACHL    False
              ...
UG_BLACKNH    False
UG_HISPOLD    False
UG_NRA        False
UG_WHITENH    False
UG_UNKN       False
Length: 278, dtype: bool

In [15]:
#this is the name of each column that is a string and should not be
column_types[(column_types == 'string').to_list()].index

Index(['DEBT_MDN', 'HI_INC_YR6_N', 'HI_INC_YR8_N', 'LO_INC_YR6_N',
       'LO_INC_YR8_N', 'MD_INC_YR6_N', 'MD_INC_YR8_N', 'OVERALL_YR6_N',
       'OVERALL_YR8_N', 'COMP_ORIG_YR4_RT', 'COMP_ORIG_YR6_RT',
       'COMP_ORIG_YR8_RT', 'DEP_COMP_ORIG_YR6_RT', 'DEP_COMP_ORIG_YR8_RT',
       'DEP_WDRAW_ORIG_YR6_RT', 'DEP_WDRAW_ORIG_YR8_RT',
       'FEMALE_COMP_ORIG_YR6_RT', 'FEMALE_COMP_ORIG_YR8_RT',
       'FEMALE_WDRAW_ORIG_YR6_RT', 'FEMALE_WDRAW_ORIG_YR8_RT',
       'FIRSTGEN_COMP_ORIG_YR6_RT', 'HI_INC_COMP_ORIG_YR4_RT',
       'HI_INC_COMP_ORIG_YR6_RT', 'HI_INC_COMP_ORIG_YR8_RT',
       'HI_INC_ENRL_ORIG_YR4_RT', 'HI_INC_WDRAW_ORIG_YR6_RT',
       'HI_INC_WDRAW_ORIG_YR8_RT', 'IND_COMP_ORIG_YR6_RT',
       'IND_COMP_ORIG_YR8_RT', 'IND_WDRAW_ORIG_YR6_RT',
       'IND_WDRAW_ORIG_YR8_RT', 'LO_INC_COMP_ORIG_YR4_RT',
       'LO_INC_COMP_ORIG_YR6_RT', 'LO_INC_COMP_ORIG_YR8_RT',
       'LO_INC_ENRL_ORIG_YR4_RT', 'LO_INC_WDRAW_ORIG_YR6_RT',
       'LO_INC_WDRAW_ORIG_YR8_RT', 'MALE_COMP_ORIG_YR6_RT',
       'MALE_COMP_ORIG_YR8_RT', 'MALE_WDRAW_ORIG_YR6_RT',
       'MALE_WDRAW_ORIG_YR8_RT', 'MD_INC_COMP_ORIG_YR4_RT',
       'MD_INC_COMP_ORIG_YR6_RT', 'MD_INC_COMP_ORIG_YR8_RT',
       'MD_INC_ENRL_ORIG_YR4_RT', 'MD_INC_WDRAW_ORIG_YR6_RT',
       'MD_INC_WDRAW_ORIG_YR8_RT', 'ENRL_ORIG_YR4_RT', 'ENRL_ORIG_YR6_RT',
       'COMP_2YR_TRANS_YR4_RT', 'ENRL_2YR_TRANS_YR4_RT',
       'UNKN_2YR_TRANS_YR4_RT', 'WDRAW_2YR_TRANS_YR4_RT',
       'COMP_4YR_TRANS_YR4_RT', 'ENRL_4YR_TRANS_YR4_RT',
       'UNKN_4YR_TRANS_YR4_RT', 'WDRAW_4YR_TRANS_YR4_RT', 'WDRAW_ORIG_YR2_RT',
       'WDRAW_ORIG_YR4_RT', 'WDRAW_ORIG_YR8_RT', 'MN_EARN_WNE_P10',
       'MD_EARN_WNE_P10', 'COUNT_NWNE_P10', 'COUNT_WNE_P10', 'AGE_ENTRY',
       'FAMINC', 'MD_FAMINC', 'MEDIAN_HH_INC', 'AGEGE24', 'DEPENDENT',
       'FEMALE', 'MARRIED'],
      dtype='object')

In [16]:
#to do debt analysis of the data we need to know if this column is a string or not.
filtered_4_year_df['DEBT_MDN'].dtype

StringDtype

In [17]:
filtered_4_year_df['DEBT_MDN']

0       15000
1       15000
2       13207
3       14000
4       18950
        ...
6299     <NA>
6314     <NA>
6318     <NA>
6319     <NA>
6322     <NA>
Name: DEBT_MDN, Length: 2058, dtype: string

In [18]:
#since this will be y variable there is no sense in keeping rows that have a 0 for the y.  That is meaningless.
filtered_4_year_df['DEBT_MDN'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
6299     True
6314     True
6318     True
6319     True
6322     True
Name: DEBT_MDN, Length: 2058, dtype: bool

In [20]:
#this drops all columns in the data set that have a 0 for the mean earnings.
filtered_4_year_df = filtered_4_year_df.loc[~filtered_4_year_df['DEBT_MDN'].isna()]
filtered_4_year_df

,CIP01BACHL,CIP04BACHL,CIP05BACHL,CIP26BACHL,CIP52BACHL,CIP09BACHL,CIP10BACHL,CIP11BACHL,CIP46BACHL,CIP13BACHL,...,UGDS_WHITENH,UGDS_WOMEN,UGDS_UNKN,UG_AIANOLD,UG_API,UG_BLACKNH,UG_HISPOLD,UG_NRA,UG_WHITENH,UG_UNKN
0,1,1,0,1,2,0,1,1,0,1,...,<NA>,0.5924,0.0361,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,0,0,1,1,2,1,0,1,0,1,...,<NA>,0.6070,0.0058,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,0,0,0,0,2,0,0,0,0,0,...,<NA>,0.6809,0.0171,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,0,0,0,1,1,1,0,1,0,1,...,<NA>,0.4204,0.0333,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,0,0,0,1,1,1,0,1,0,1,...,<NA>,0.6290,0.0123,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6216,0,0,0,0,2,2,0,2,0,2,...,<NA>,0.8362,0.1940,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6217,0,0,0,1,2,1,0,1,0,1,...,<NA>,0.5506,0.0132,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6221,0,0,0,0,0,0,0,0,0,0,...,<NA>,0.3636,0.0000,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6231,0,0,0,0,1,0,0,1,0,0,...,<NA>,0.6792,0.0377,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6243,0,0,0,0,0,0,0,2,0,0,...,<NA>,0.6970,0.0037,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [48]:
#looks like there are some columns that could be removed.  Tried 500 too and it made no difference.  Data doesn't seem terrible.
filtered_4_year_df = filtered_4_year_df.dropna(axis = 1, how = 'any', thresh = 1000)
filtered_4_year_df

,CIP01BACHL,CIP04BACHL,CIP05BACHL,CIP26BACHL,CIP52BACHL,CIP09BACHL,CIP10BACHL,CIP11BACHL,CIP46BACHL,CIP13BACHL,...,PCIP39,PCIP49,PCIP50,DEBT_MDN,MENONLY,WOMENONLY,INEXPFTE,LOCALE,TUITFTE,REGION
0,1,1,0,1,2,0,1,1,0,1,...,0.0000,0.0,0.0237,15000,0,0,5384,12,7413,5
1,0,0,1,1,2,1,0,1,0,1,...,0.0000,0.0,0.0339,15000,0,0,16454,12,13177,5
2,0,0,0,0,2,0,0,0,0,0,...,0.2154,0.0,0.0000,13207,0,0,4206,12,14273,5
3,0,0,0,1,1,1,0,1,0,1,...,0.0000,0.0,0.0380,14000,0,0,9242,12,8677,5
4,0,0,0,1,1,1,0,1,0,1,...,0.0000,0.0,0.0585,18950,0,0,8527,12,10160,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6216,0,0,0,0,2,2,0,2,0,2,...,0.0000,0.0,0.0000,12500,0,0,494,21,9951,4
6217,0,0,0,1,2,1,0,1,0,1,...,0.0000,0.0,0.0000,13250,0,0,9363,21,7388,3
6221,0,0,0,0,0,0,0,0,0,0,...,0.0000,0.0,0.0000,7585,0,0,13028,42,15304,3
6231,0,0,0,0,1,0,0,1,0,0,...,0.0000,0.0,0.0000,12902,0,0,14582,33,58637,4
6243,0,0,0,0,0,0,0,2,0,0,...,0.0000,0.0,0.0000,16534,0,0,3405,11,3322,3

In [42]:
filtered_4_year_df.dtypes.unique()

array([Int64Dtype(), dtype('float64'), StringDtype], dtype=object)

In [43]:
filtered_4_year_df.select_dtypes('string')

     DEBT_MDN
0       15000
1       15000
2       13207
3       14000
4       18950
...       ...
6216    12500
6217    13250
6221     7585
6231    12902
6243    16534

[1906 rows x 1 columns]

In [44]:
filtered_4_year_df['DEBT_MDN'] = filtered_4_year_df['DEBT_MDN'].astype('int')

In [45]:
filtered_4_year_df.to_csv(path2 + input_file_for_debt)