In [1]:
from sklearn import datasets
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense
from sklearn.preprocessing import LabelBinarizer
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [2]:
encoder = LabelBinarizer()
seed = 42
 
iris = datasets.load_iris()
iris_data_df = pd.DataFrame(data=iris.data, columns=iris.feature_names,
                       dtype=np.float32)
target = encoder.fit_transform(iris.target)
iris_target_df = pd.DataFrame(data=target, columns=iris.target_names)
 
X_train,X_test,y_train,y_test = train_test_split(iris_data_df,
                                                 iris_target_df,
                                                 test_size=0.30,
                                                 random_state=seed)
 
scaler = MinMaxScaler(feature_range=(0,1))
 
X_train = pd.DataFrame(scaler.fit_transform(X_train),
                               columns=X_train.columns,
                               index=X_train.index)
X_test = pd.DataFrame(scaler.transform(X_test),
                           columns=X_test.columns,
                           index=X_test.index)

In [3]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
81            0.352941          0.181818           0.464286          0.375000
133           0.588235          0.363636           0.714286          0.583333
137           0.617647          0.500000           0.785714          0.708333
75            0.676471          0.454545           0.589286          0.541667
109           0.852941          0.727273           0.892857          1.000000
..                 ...               ...                ...               ...
71            0.529412          0.363636           0.517857          0.500000
106           0.176471          0.227273           0.607143          0.666667
14            0.441177          0.909091           0.017857          0.041667
92            0.441177          0.272727           0.517857          0.458333
102           0.823529          0.454545           0.857143          0.833333

[105 rows x 4 columns]

In [4]:
X_test

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
73            0.529412          0.363636           0.642857          0.458333
18            0.411765          0.818182           0.107143          0.083333
118           1.000000          0.272727           1.035714          0.916667
78            0.500000          0.409091           0.607143          0.583333
76            0.735294          0.363636           0.660714          0.541667
31            0.323529          0.636364           0.071429          0.125000
64            0.382353          0.409091           0.446429          0.500000
141           0.764706          0.500000           0.714286          0.916667
68            0.558823          0.090909           0.607143          0.583333
82            0.441177          0.318182           0.500000          0.458333
110           0.647059          0.545455           0.714286          0.791667
12            0.147059          0.454545           0.053571          0.000000
36            0.352941          0.681818           0.035714          0.041667
9             0.176471          0.500000           0.071429          0.000000
19            0.235294          0.818182           0.071429          0.083333
56            0.588235          0.590909           0.642857          0.625000
104           0.647059          0.454545           0.839286          0.875000
69            0.382353          0.227273           0.500000          0.416667
55            0.411765          0.363636           0.607143          0.500000
132           0.617647          0.363636           0.803571          0.875000
29            0.117647          0.545455           0.089286          0.041667
127           0.529412          0.454545           0.678571          0.708333
26            0.205882          0.636364           0.089286          0.125000
128           0.617647          0.363636           0.803571          0.833333
131           1.058824          0.818182           0.946429          0.791667
145           0.705882          0.454545           0.732143          0.916667
108           0.705882          0.227273           0.839286          0.708333
143           0.735294          0.545455           0.857143          0.916667
45            0.147059          0.454545           0.053571          0.083333
30            0.147059          0.500000           0.089286          0.041667
22            0.088235          0.727273          -0.017857          0.041667
15            0.411765          1.090909           0.071429          0.125000
65            0.705882          0.500000           0.589286          0.541667
11            0.147059          0.636364           0.089286          0.041667
42            0.029412          0.545455           0.035714          0.041667
146           0.588235          0.227273           0.696429          0.750000
51            0.617647          0.545455           0.607143          0.583333
27            0.264706          0.681818           0.071429          0.041667
4             0.205882          0.727273           0.053571          0.041667
32            0.264706          0.954545           0.071429          0.000000
142           0.441177          0.318182           0.714286          0.750000
85            0.500000          0.636364           0.607143          0.625000
86            0.705882          0.500000           0.642857          0.583333
16            0.323529          0.863636           0.035714          0.125000
10            0.323529          0.772727           0.071429          0.041667

In [5]:
y_train

     setosa  versicolor  virginica
81        0           1          0
133       0           0          1
137       0           0          1
75        0           1          0
109       0           0          1
..      ...         ...        ...
71        0           1          0
106       0           0          1
14        1           0          0
92        0           1          0
102       0           0          1

[105 rows x 3 columns]

In [6]:
iris_target_df

     setosa  versicolor  virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [7]:
y_train

     setosa  versicolor  virginica
81        0           1          0
133       0           0          1
137       0           0          1
75        0           1          0
109       0           0          1
..      ...         ...        ...
71        0           1          0
106       0           0          1
14        1           0          0
92        0           1          0
102       0           0          1

[105 rows x 3 columns]

In [8]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
81            0.352941          0.181818           0.464286          0.375000
133           0.588235          0.363636           0.714286          0.583333
137           0.617647          0.500000           0.785714          0.708333
75            0.676471          0.454545           0.589286          0.541667
109           0.852941          0.727273           0.892857          1.000000
..                 ...               ...                ...               ...
71            0.529412          0.363636           0.517857          0.500000
106           0.176471          0.227273           0.607143          0.666667
14            0.441177          0.909091           0.017857          0.041667
92            0.441177          0.272727           0.517857          0.458333
102           0.823529          0.454545           0.857143          0.833333

[105 rows x 4 columns]

In [9]:
def model():
    """build the Keras model callback"""
    model = Sequential()
    model.add(Dense(8, input_dim=4, activation='tanh', name='layer_1'))
    model.add(Dense(10, activation='tanh', name='layer_2'))
    model.add(Dense(10, activation='tanh', name='layer_3'))
    model.add(Dense(3, activation='softmax', name='output_layer'))
     
    model.compile(loss="categorical_crossentropy",
                  optimizer="adam",
                  metrics=['accuracy'])
    return model

In [10]:
estimator = KerasClassifier(
        build_fn=model,
        epochs=200, batch_size=20,
        verbose=2)

In [11]:

kfold = KFold(n_splits=5, shuffle=True, random_state=seed)

In [ ]:

results = cross_val_score(estimator, X_train, y_train, cv=kfold)
print("Model Performance: mean: %.2f%% std: (%.2f%%)" % (results.mean()*100, results.std()*100))

Epoch 1/200

In [ ]:
X_train